body {
  margin-top: 60px;
  background-image: url('/img/background.png')
}

.email, .password, .login {
  margin-right: 10px;
}

.navbar.navbar-inverse.navbar-fixed-top {
  background-color: #059198;
}

.memegen {
  margin: auto;
  text-align: center;
  font-size: 100px;
  margin-top: 200px;
  color: white;
}

.dashboard {
  color: white;
}

#registration {
  display: none;
  margin: auto;
  text-align: center;
}

.regemail, .regpassword {
  margin-bottom: 10px;
}

#create {
  display: none;
  margin: auto;
  text-align: center;
}

.carousel {
    margin-bottom: 0;
	padding: 0 40px 30px 40px;
}

.carousel-control {
	left: -12px;
}
.carousel-control.right {
	right: -12px;
}

.carousel-indicators {
	//right: 50%;
	//top: auto;
	margin-bottom: -10px;
	//margin-right: -19px;
}

.carousel-indicators li {
	background: #c0c0c0;
}
.carousel-indicators .active {
  background: #333333;
}

.container {
  margin-top: 20px;
}

.thumbnail {
  width: 230px;
  height: 230px;
  text-align: center;
}
