body {
  margin-top: 60px;
}

.email, .password, .login {
  margin-right: 10px;
}

.memegen {
  margin: auto;
  text-align: center;
  font-size: 100px;
  margin-top: 200px;
}

#registration {
  display: none;
  margin: auto;
  text-align: center;
}

.regemail, .regpassword {
  margin-bottom: 10px;
}

#create {
  display: none;
  margin: auto;
  text-align: center;
}
