#showMeme{
  text-align: center;
  div{
    position: relative;
    margin: auto;
    #top{
      position: absolute;
      top: 5%;
      left: 5%;
      width: 90%;
      height: 9%;
      background: none;
      color: white;
      font-size: 30px;
      font-family: impact;
      letter-spacing: 2px;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      text-align: center;
    }
    #bottom{
      position: absolute;
      bottom: 5%;
      left: 5%;
      width: 90%;
      height: 9%;
      background: none;
      color: white;
      font-size: 30px;
      font-family: impact;
      letter-spacing: 2px;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      text-align: center;
    }
  }
}

body {
  margin-top: 100px;
  background-image: url('/img/background.png');
  margin-left: 30px;
}

.email, .password, .login {
  margin-right: 10px;
}

.navbar.navbar-inverse.navbar-fixed-top {
  background-color: #059198;
  //padding-bottom: 15px;
  height: 70px;
}

.memegen {
  margin: auto;
  text-align: center;
  font-size: 100px;
  margin-top: 200px;
  color: white;
}

.dashboard {
  color: white;
}

#registration {
  display: none;
  margin: auto;
  text-align: center;
}

.regemail, .regpassword {
  margin-bottom: 10px;
}

#create {
  display: none;
  margin: auto;
  text-align: center;
}

.carousel {
    margin-bottom: 0;
	padding: 0 40px 30px 40px;
}

.carousel-control {
	left: -12px;
}
.carousel-control.right {
	right: -12px;
}

.carousel-indicators {
	//right: 50%;
	//top: auto;
	margin-bottom: -10px;
	//margin-right: -19px;
}

.carousel-indicators li {
	background: #c0c0c0;
}
.carousel-indicators .active {
  background: #333333;
}

.container {
  margin-top: 20px;
}

.thumbnail {
  width: 230px;
  height: 230px;
  text-align: center;
}

p.navbar-text, .logout {
  color: white !important;
  font-size: 15px;
  //margin-top: px;;
}

#getMemes, #memes {
  margin-right: 10px;
}

.nav.navbar-nav.navbar-right {
  margin-top: -10px;
}

.navbar-form.navbar-right {
  margin-top: -5px;
}

.memename {
  color: white;
}

.showMeme {
  height: 500px;
  background-repeat: no-repeat;
}
