extends ../shared/template

block content

  button.btn.btn-primary#getMemes Pick your Meme

  select#memes
    option.meme Select A Meme
  button.btn.btn-primary#generate Generate!
  #addText
  #showMeme

  #history
    each meme in memes
      .preview
        div(style='background: url(#{meme.url});')
          .top= meme.top
          .bottom= meme.bottom
        a(href=('/meme/#{meme._id.toString()}')) Show Meme
