extends ../shared/template

block content

  button.btn.btn-primary#getMemes Pick your Meme
  select#memes
    option.meme Select A Meme
  button.btn.btn-primary#generate Generate!
  #addText
  #showMeme

  #history
    if(memes)
      p.all All Your Cool Memes:
      each meme in memes
        .preview
          div(style='background-image: url(#{meme.url}); width: 200px; height: 200px; position: relative')
            .top #{meme.top}
            .bottom #{meme.bottom}
          a(href=('/memes/#{meme._id.toString()}')) Show Meme
