doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    title= title
    link(rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
    link(href='/less/app.css', rel='stylesheet')
  body
    .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
        .container
            .nav-bar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
            if(!user)
              .navbar-collapse.collapse
                  form.navbar-form.navbar-right(action='/login', method='POST')
                      .form-group
                          input.form-control.email(type='email', name='email' placeholder='Email')
                      .form-group
                          input.form-control.password(type='password', name='password' placeholder='Password')
                      button.signin.btn.btn-success.login Login
                      button.register.btn.btn-warning.btn.btn-primary.btn(type='submit', data-toggle='modal', data-target='#myModal') Register
            if(user)
              ul.nav.navbar-nav.navbar-right
                li: p.navbar-text(href='#') Signed in as #{user.email}
                li: a(href='/logout') Logout
    if(!user)
      .modal.fade#myModal(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
              h4.modal-title#myModalLable Registration Form
            .modal-body
              #registration
                form(action='/register', method='POST')
                  input.form-control.regemail(type='email', name='email', placeholder='Email', required='required')
                  input.form-control.regpassword(type='password', name='password', placeholder='Password', required='required')

                  .modal-footer
                    button.submit.btn.btn-info Submit

    block content

    script(src='/js/vendor/jquery-2.1.1.js')
    script(src='/js/vendor/lodash-2.4.1.js')
    script(src='/js/vendor/moment-2.6.0.js')
    script(src='/js/vendor/traceur.js')
    //- script(src='/socket.io/socket.io.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
    script(src='/js/es5/main.js')
    script(src='/js/es6/compiled/main.js')
    //- script(src='/js/es6/compiled/sockets.js')

  block scripts
