extends ../shared/template

block content
  h1= title

  button#getMemes Pick your Meme

  select#memes
    option.meme Select A Meme
  button.btn.btn-primary#generate Generate!
  #addText
  #showMeme
