extends ../shared/template

block content

  .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container
          .nav-bar-header
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
          .navbar-collapse.collapse
              form.navbar-form.navbar-right(action='/login', method='POST')
                  .form-group
                      input.form-control.email(type='email', name='email' placeholder='Email')
                  .form-group
                      input.form-control.password(type='password', name='password' placeholder='Password')
                  button.signin.btn.btn-success.login Login
                  button.register.btn.btn-warning.btn.btn-primary.btn(type='submit', data-toggle='modal', data-target='#myModal') Register

  h1.memegen MemeGen

  .modal.fade#myModal(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
          h4.modal-title#myModalLable Registration Form
        .modal-body
          #registration
            form(action='/register', method='POST')
              input.form-control.regemail(type='email', name='email', placeholder='Email', required='required')
              input.form-control.regpassword(type='password', name='password', placeholder='Password', required='required')

              .modal-footer
                button.submit.btn.btn-info Submit

  div.container
    div.row
      div.span12
        div.well
          div#myCarousel.carousel.slide
            ol.carousel-indicators
              li.active(data-target='#myCarousel', data-slide-to='0')
              li(data-target='#myCarousel', data-slide-to='1')
              //- li(data-target='#myCarousel', data-slide-to='2')
            // Carousel items
            div.carousel-inner
              div.item.active
                div.row-fluid
                  div.col-md-3
                    a.thumbnail(href='#x')
                      img(src='/img/meme12.jpeg', alt='Image', style='max-width:100%;')
                  div.col-md-3
                    a.thumbnail(href='#x')
                      img(src='/img/meme14.jpeg', alt='Image', style='max-width:100%;')
                  div.col-md-3
                    a.thumbnail(href='#x')
                      img(src='/img/meme11.jpeg', alt='Image', style='max-width:100%;')
                  div.col-md-3
                    a.thumbnail(href='#x')
                      img(src='/img/meme15.jpeg', alt='Image', style='max-width:100%;')
                // /row-fluid
              // /item
              div.item
                div.row-fluid
                  div.col-md-3
                    a.thumbnail(href='#x')
                      img(src='/img/meme1.jpeg', alt='Image', style='max-width:100%;')
                  div.col-md-3
                    a.thumbnail(href='#x')
                      img(src='/img/meme5.jpeg', alt='Image', style='max-width:100%;')
                  div.col-md-3
                    a.thumbnail(href='#x')
                      img(src='/img/meme10.jpeg', alt='Image', style='max-width:100%;')
                  div.col-md-3
                    a.thumbnail(href='#x')
                      img(src='/img/meme9.jpeg', alt='Image', style='max-width:100%;')
                // /row-fluid
              // /item
                // /row-fluid
              // /item
            // /carousel-inner
            a.left.carousel-control(href='#myCarousel', data-slide='prev') ‹
            a.right.carousel-control(href='#myCarousel', data-slide='next') ›
          // /myCarousel
        // /well
