/*
  HIDESHARE CSS
*/
.hideshare-wrap {
  margin: 0 auto;
  text-align: center;
  position: relative;
}
.hideshare-wrap .hideshare-list {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.hideshare-wrap li {
  display: inline-block;
  zoom: 1;
  *display: inline;
  margin: 10px 5px 0;
}
.hideshare-wrap span {
  display: none;
}

img {
  margin: 0 auto 5em;
  width: 200px;
  height: auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #444;
}

a {
  text-decoration: none;
}

a:hover{
  text-decoration: none;
  color: #4e4e4e;
}

.share {
  display: block;
  width: 200px;
  margin: 0 auto;
  color: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 1em 0;
  border: 1px solid;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px rgba(159, 159, 159, 0.23);
  border-color: #630e45;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #DB0D93),
    color-stop(1, #630E45)
  );
  background-image: -o-linear-gradient(bottom, #DB0D93 0%, #630E45 100%);
  background-image: -moz-linear-gradient(bottom, #DB0D93 0%, #630E45 100%);
  background-image: -webkit-linear-gradient(bottom, #DB0D93 0%, #630E45 100%);
  background-image: -ms-linear-gradient(bottom, #DB0D93 0%, #630E45 100%);
  background-image: linear-gradient(to bottom, #DB0D93 0%, #630E45 100%);
}
.share:hover {
  border-color: #a65474;
  color: #ffffff;
  text-shadow: 1px 1px 1px rgba(159, 159, 159, 0.23);
  background-image: -webkit-gradient(
  	linear,
  	left top,
  	left bottom,
  	color-stop(0, #A65473),
  	color-stop(1, #FCBFE1)
  );
  background-image: -o-linear-gradient(bottom, #A65473 0%, #FCBFE1 100%);
  background-image: -moz-linear-gradient(bottom, #A65473 0%, #FCBFE1 100%);
  background-image: -webkit-linear-gradient(bottom, #A65473 0%, #FCBFE1 100%);
  background-image: -ms-linear-gradient(bottom, #A65473 0%, #FCBFE1 100%);
  background-image: linear-gradient(to bottom, #A65473 0%, #FCBFE1 100%);
}
.hideshare-list a {
  color: #dedede;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
.hideshare-list a:hover {
  color: #ffffff;
}
